@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgba(11, 95, 39, 0.582);
  overflow-x: hidden;
}

.typingbar{
  border-radius: 20px;
  width: 90%;
  height: 100%;
  max-width: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2)


}

:root{
  --typingBarHoverCOlor:rgba(255, 255, 255, 0.3)
}

.typingbar:hover{
  background-color: var(--typingBarHoverCOlor);
}